views*.csv
all*.csv
Limited*.csv
item*.csv
*.json
//Remove all csv files from git
*.csv
git rm --cached *.csv
 __pycache__/
*.pyc
__pycache__
--*

# Ignore everything
*

# Allow only .py files
!*.py

# Ignore __pycache__ and compiled Python files
__pycache__/
*.pyc

# Ignore specific Python files
add_stats_to_csv.py
harvest_institution_datasets_and_stats.py
harvest_institution_items_oai.py
institutionListOAI_update_notes.py
stats_from_instID.py